{% extends 'template.html' %}

{% block title %}Calcular quantidade de Soro{% endblock %}

{% block content %}
<div class="container d-flex align" style="height: 600px;">
     <section class="container">
        <h2 class="titulo">Calcular Dose de <br> Soro (mL/kg)</h2>
         <p>Calcule a dose de soro para seu pet</p>
     </section>

    <section class="container formulario section-padding" style="width: 50%;">
        <form method="POST" class="d-flex column" action="">
            <select name="desid" id="desid" required>
                <option value="1">Leve</option>
                <option value="1.5">Moderada</option>
                <option value="2">Grave</option>
            </select>
            <button type="submit" class="btn btn-primary bottom-border" style="color: var(--cor-branco);">
                Calcular soro
            </button>
            <a class="btn btn-negativo" style="color: var(--cor-branco);" href="/dashboard">Cancelar</a>
        </form>
    </section>
</div>
{% endblock %}
