{% extends 'template.html' %}

{% block title %}Calcular Dose de Medicamento{% endblock %}

{% block content %}
<div class="container d-flex align" style="height: 600px;">
     <section class="container">
        <h2 class="titulo">Calcular Dose de <br> Medicamento (mg/kg)</h2>
         <p>Calcule a dose de medicamento para seu pet</p>
     </section>

    <section class="container formulario section-padding" style="width: 50%;">
        <form method="POST" class="d-flex column" action="">
            <input class="input" type="number" step="0.1" placeholder="Dose recomendada (mg/kg):" name="dose" required>

            <button type="submit" class="btn btn-primary bottom-border" style="color: var(--cor-branco);">
                Calcular dose
            </button>
            <a class="btn btn-negativo" style="color: var(--cor-branco);" href="/dashboard">Cancelar</a>
        </form>
    </section>
</div>
{% endblock %}
