{% extends 'template.html' %} {% block title %}Editando {{ pet.nome }}{% endblock %} {% block content %}
<div class="container d-flex align" style="height: 600px;">
    <section class="container">
        <h2 class="titulo">Editando {{pet.nome}}</h2>
        <p> Atualize as informações do seu pet</p>
    </section>

    <section class="container formulario section-padding">
        <form class="d-flex column" action="" method="POST">
            <!-- Formulário de cadastro (nome de usuario e senha) -->
            <input type="text" placeholder="Nome" name="nome" id="" value="{{pet.nome}}" required>

            <select name="raca" id="raca" required>
                {% if especies %}
                {% for especie in especies %}
                <option  {% if especie == pet.raca %}selected{% endif %} value="{{especie}}">{{especie}}</option>
                {% endfor %}
                {% endif %}
            </select>

            <input type="number" placeholder="Idade" name="idade" value="{{pet.idade}}" required>
            <input type="number" placeholder="Peso: (ex.: 200g)" name="peso" value="{{pet.peso}}" required>

            <!-- Enviar cadastro (do pet) para o banco de dados -->
            <button class="btn btn-primary" type="submit" style="border: none;">Salvar alterações</button>
            <a class="btn btn-negativo" style="color: var(--cor-branco);" href="/dashboard">Cancelar</a>
        </form>
    </section>
</div>
{% endblock %}